* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg,#2c2c2c, #036e5c, #2c2c2c);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 350px;
    height: 500px;
    perspective: 800px;
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background-image: url(fg.jpg);
    height: 600px;
    width: 400px;
  }
  .container h3{
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-weight:900;
  }
  .back {
    background-color: #2b2b2b;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .back h1{
    font-size: 50px;
    color: rgb(11, 124, 119);
  }
  .back h2{
    color: #f1184f;
    font-size: 50px;
    top: 10%;
  }
  .back p{
    font-size: 30px;
    line-height: 2px;
    color: rgb(12, 136, 105);
  }